[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
click = "*"
prompt-toolkit = "*"
pyfiglet = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
